:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 0.9;

  color-scheme: light dark;
  color: rgb(0, 247, 255);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width:100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.thirdHeight {
  min-height: 33vh;
}

.halfHeight {
  min-height: 50vh;
}

.fullHeight {
  height: 100%;
}

.halfWidth {
  width: 50%;
}

.thirdWidth {
  width: 33.333%;
  display:inline-block;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(33, 31, 44);
  overflow: hidden
}

.vAlignTop{
  vertical-align: top;
}

.flex-container { 
 display: flex;
}

.comic-panels-flex-container {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: top;
}

.comic-panel {
  display: block;
  margin: 10px 5px;
  padding: 0;
  border: 3px solid rgba(0, 0, 0, 0.975);
  border-radius: 0.125em;
  background-color: #0e2719;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.carPedal {
  display: inline-block;
  float: right;
  background-color: rgb(46, 42, 34);
  border: 0.33em solid rgb(7, 6, 4);
  height: fit-content;
  font-size: 2em;
  border-radius:0.5em;
  padding:0.15em 0.25em;
  margin: 0.25em;
}

#accelerator {
  width: 1em;
  margin: 0.25em 0.65em 0.25em 0.25em;
}

#brake {
  width: 2em;
}

.carPedalSubElement {
  background-color: rgb(14, 12, 9);
  height: 0.25em;
  border-radius:0.1em;
  margin: 0 0 0.15em 0;
}

.carPedalSubElement.medium {
  height: 0.33em;
}

.carPedalSubElement.big {
  height: 1.33em;
}

#ignition {
  background-color: rgb(105, 105, 105);
  width: 3em;
  height: 3em;
  border-radius:3em;
  border: 0.25em outset rgb(77, 77, 77);
  margin: 0em 1em 0 2em;
  float: right;
}

#keyhole {
  background-color: black;
  width: 0.4em;
  height: 1.5em;
  margin: 0.5em auto;
  border: 0.15em rgb(77, 77, 77) inset;
  box-sizing: border-box;
}

.speedometer {
  display: inline-block;
  background-color: rgb(212,210,207);
  border-radius: 0.25em;
  padding: 0.33em 3em;
  vertical-align: top;
  margin: 1em 1em;
  border: 0.15em rgb(192, 192, 192) outset;
}

.speedometer-black {
  display: inline-block;
  background-color: black;
  margin: 0 auto;
  border-radius: 0.2em;
  padding: 0.05em 0.1em;
  border: 0.15em rgb(192, 192, 192) inset;
}

.speedometer-text {
  display: inline-block;
  color: rgb(231, 89, 23);
  transition: color 0.1s;
  text-shadow: 0px 0px 12px #ff0000;
  font-size: 3.5em;
  font-family: SixteenSegments,monospace;
  font-style: oblique 5deg;
  letter-spacing: -0.05em;
  background-color: rgb(29, 29, 29);
  white-space: pre;
  text-align: center;
  font-weight: bold;
  padding: 0 0.075em 0 0.025em;
  margin: 0.05em 0.033em;
  width: 0.55em;
}

.inline-block{
  display: inline-block;
}

.almost-black {
  background-color: rgb(33, 33, 33);
}

.float-right{
  float: right;
}

.flux-capacitor-sizing {
  margin: 0.5em;
  width: 18em;
  height: 22em;
  float:right;
}

.flux-capacitor {
  background-color: rgb(93,100,110);
  border-radius: 1em;
  padding: 0.2em 1.5em 0.5em 1.5em;
  vertical-align: top;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0.33em rgb(83, 90, 100) outset;
}

.flux-capacitor-inner {  
  background-color: rgb(53, 57, 63);
  border-radius: 3em;
  width: 100%;
  height: 83%;
  margin: 0.2em auto 1em auto;
  box-sizing: border-box;
  border: 1em rgb(24, 26, 29) outset;
}

.flux-capacitor-dymo {  
  color:#ffffff;
  background-color: rgb(131, 40, 40);
  text-align:center;
  font-size: 0.7em;
  margin: 0 2.5em;
  padding: 0.15em 0;
  font-family: 'Jura', sans-serif;
}

.shield-eyes-label {
  position: absolute; 
  padding: 0.2em 1em;
  margin: 14em 2em 0 2em;
}