@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');
@font-face {
  font-family: SixteenSegments;
  src: url(DS-DIGI.TTF);
}

.tc_full {
  margin: 0;
  padding: 0;
  background-color: rgb(60, 57, 63);
  width: 100%;
  height: 100%;
}

.tc {
  padding: 0.8em 0;
}

.tc_sub {
  background-color: rgb(80,76,84);
  display: flex;
  padding: 0.5% 0;
}

.timeCircuitReadout {
  display: block;
  background-color: black;
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
  font-family: SixteenSegments,monospace;
  font-style: oblique 5deg;
  position: relative;
  white-space: pre;
  border-radius: 0.05em;
  border: 0.01em inset rgba(120,120,120,0.5);
  box-sizing: content-box;
}

.red-tc-clickable-region:hover {
  cursor: pointer;
}

.red-tc-clickable-region:hover .red:not(.off) {
  color: rgb(255, 204, 204) !important;
}

.off {
  color: rgb(26, 24, 24) !important;
  text-shadow: none !important;
}

.preMonthGap{
  width: 2%;
  }

.month {
  width: 20%;
}

.preDayGap{
width: 2.75%;
}

.day {
  width: 12%;
}

.preYearGap{
  width: 2.75%;
  }
  
.year {
  width: 24%;
}

.amPmGap{
  width: 6.5%;
  padding: 0 0.1em;
  box-sizing: border-box;
  }

.hour {
  width: 12%;
}

.secondsIndicatorGap{
  margin: 0.375em 0 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 3.25em;
  width: 4%;
  }

.minute {
  width: 12%;
}

.red {
  color: rgb(255,100,26);
  transition: color 0.1s;
  text-shadow: 0px 0px 12px #ff0000;
}

.green {
  color: rgb(107,254,66);
  text-shadow: 0px 0px 12px #00ff00;
}

.yellow {
  color: rgb(240,202,44);
  text-shadow: 0px 0px 12px #ff9900;
}

.dymo {
  font-size: 1em;
  padding: 0.1em 0.5em;
  text-align: center;
  display: block;
  color: rgb(172, 148, 148);
  font-weight: bold;
  font-family: 'Jura', sans-serif;
}

.dymoRed {
  background-color: rgb(68,10,5);
}

.dymoBlackContainer{
  justify-content: center;
}

.dymoBlack {
  background-color: rgb(30,30,30);
  padding: 0.1em 2em;
  font-weight: 1000;
}

.monthDymo {
  margin: 0 10% 0.5em;
}

.dayDymo {
  margin: 0 10% 0.5em;
}

.yearDymo {
  margin: 0 27.5% 0.5em;
}

.hourDymo {
  margin: 0 5% 0.5em;
}

.minDymo {
  margin: 0 10% 0.5em;
}

.amLabel{
  margin: 1.1em 0.1em 0 0.1em;
  padding: 0 0 0.1em 0;
  font-size: 0.9em;
}

.pmLabel{
  margin: 0.85em 0.1em 0 0.1em;
  padding: 0 0 0.1em 0;
  font-size: 0.9em;
}

.amPmIndicator{
  margin: -0.4em 0;
  padding: 0;
  text-align: left;
  text-align: center;
  font-weight: bold;
  font-size: 3.25em;
  }